
@mixin 8bit-loader($size: $r1, $color: black) {
    $id: unique_id() !global;
    animation: $id 1s linear infinite;
    height: $size;
    width: $size;

    $r3:  $size / 3;
    $r2:  $size / 1.5;
    $r1:  $size;
    $nr1: 0 - $r1;
    $nr2: 0 - $r2;
    $nr3: 0 - $r3;
    
    @keyframes #{$id} {
        @for $i from 0 through 16 {
            #{$i / 16 * 100}% {
                box-shadow:
                    0px $nr1 if($i > 0 and $i < 9, transparent, $color),
                    $r3 $nr1 if($i > 1 and $i < 10, transparent, $color),
                    $r2 $nr2 if($i > 2 and $i < 11, transparent, $color),
                    $r1 $nr3 if($i > 3 and $i < 12, transparent, $color),
                    $r1 0px if($i > 4 and $i < 13, transparent, $color),
                    $r1 $r3 if($i > 5 and $i < 14, transparent, $color),
                    $r2 $r2 if($i > 6 and $i < 15, transparent, $color),
                    $r3 $r1 if($i > 7 and $i < 16, transparent, $color),
                    0px $r1 if($i > 8  or $i < 1, transparent, $color),
                    $nr3 $r1 if($i > 9 or $i < 2, transparent, $color),
                    $nr2 $r2 if($i > 10 or $i < 3, transparent, $color),
                    $nr1 $r3 if($i > 11 or $i < 4, transparent, $color),
                    $nr1 0px if($i > 12 or $i < 5, transparent, $color),
                    $nr1 $nr3 if($i > 13 or $i < 6, transparent, $color),
                    $nr2 $nr2 if($i > 14 or $i < 7, transparent, $color),
                    $nr3 $nr1 if($i > 15 or $i < 8, transparent, $color),
                }
            }
        }
    }
}
