$render-aspect-ratio: ( 1 / ( $render-width / $render-height ) ) * 100%;
$render-max-scale: 4;
$color-primary-0: #55D555;
$color-background: #181818;
$red:   #C14242;  //Auxilary colors
$green: #5CB95C;
$blue:  #3F8EBF;
$font-family: 'Press Start 2P', cursive;
