@mixin phones {
    @media only screen
        and (max-device-width: 480px)
        and (orientation: portrait) { @content; }
}
@mixin tablets {
    @media only screen
        and (min-device-width:  481px)
        and (max-device-width: 1024px)
        { @content; }
}
@mixin desktops {
    @media only screen
        and (min-device-width: 1025px)
        { @content; }
}
@mixin nonPhones {
    @media only screen
        and (min-device-width:  481px)
        { @content; }
}
@mixin gridAlign($horizontal, $vertical: false) {
    justify-self: $horizontal;
    align-self: if($vertical == false, $horizontal, $vertical);
}
// $type: flat, box, or round
@mixin button($type: "flat", $color: black, $textcolor: white) {
    @if $type == "box" or $type == "round" {
        background-color: $color;
        color: $textcolor;
        @if $type == "round" { border-radius: 4px; }
        &:hover  { background-color: darken($color, 5%); }
        &:active { background-color: darken($color, 15%); }
    } @else {
        background-color: transparent;
        color: $color;
        &:hover  { color: darken($color, 5%); }
        &:active { color: darken($color, 15%); }
    }
    @include padding(0.5ex 1ex);
    border-width: 0px;
    outline: none;
    font-size: 16px;
    font-family: $font-family;
    cursor: pointer;
}


.home-screen {
    font-family: $font-family;
    color: white;
    @include position(absolute, 0 0 0 0);
    @include size(100%, 100%);
    margin: auto;
    display: grid;
    @include phones {
        grid-template-columns: 5% auto 5%;
        grid-template-rows: 15px 26% auto 64% 30px;
    }
    @include tablets {
        grid-template-columns: 7% auto 7%;
        grid-template-rows: 3% 27% auto 59% 5%;
    }
    @include desktops {
        grid-template-columns: 7% auto 7%;
        grid-template-rows: 3% 27% auto 59% 5%;
        max-width: 660px;
    }


    .header {
        display: flex;
        justify-content: space-around;
        justify-self: center;
        flex-direction: column;
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        .title {

            text-align: center;
            @include phones { font-size: 40px; }
            @include nonPhones { font-size: 64px; }

        }

        .logo {
            @include phones { @include size(100px, 100px); }
            @include nonPhones { @include size(150px, 150px); }
            margin: auto;
        }

    }

    .content {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        @include phones { font-size: 16px; }
        @include nonPhones { font-size: 36px; }
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-template-rows: 5% 16% 8% 7% 8% 26% 8% 14% auto;


        .buttons {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            display: flex;
            justify-content: space-between;
            .button {
                @include button($type: "box", $color: $color-primary-0);
                @include size(45%, 100%);
                line-height: 2.5ex;
                &:disabled {
                    background-color: #BCBCBC;
                    cursor: default;
                }
            }
        }
        .settings-label {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            @include gridAlign(center, center);
            @include phones { font-size: 16px; }
            @include nonPhones { font-size: 36px; }
        }

        .color-container {
            grid-column: 2 / 3;
            grid-row: 6 / 7;
            display: flex;
            justify-content: space-between;
            .color-select {
                background-color: $color-primary-0;
                @include phones { font-size: 14px; }
                @include nonPhones { font-size: 20px; }
                @include size(45%, 100%);
                text-align: center;
                line-height: 1.8ex;
                display: flex;
                justify-content: space-around;
                flex-direction: column;

                .color-value {
                    height: 30px;
                    cursor: pointer;
                    @include margin(null 8%);
                }
            }

        }

        .lives-container {
            @include size(100%, 100%);
            grid-column: 2 / 3;
            grid-row: 8 / 9;
            font-size: 16px;
            background-color: $color-primary-0;
            display: grid;
            grid-template-columns: 5% 18% auto 5% 1% 40% 1% 5% 5%;
            grid-template-rows: 5% auto 5%;
            .label {
                grid-row: 2 / 3;
                grid-column: 2 / 3;
                @include gridAlign(center);
            }
            .decrement {
                @include button($color: white);
                grid-row: 2 / 3;
                grid-column: 4 / 5;
                @include gridAlign(center);
            }
            .increment {
                @include button($color: white);
                grid-row: 2 / 3;
                grid-column: 8 / 9;
                @include gridAlign(center);
            }
            .hearts {
                grid-row: 2 / 3;
                grid-column: 6 / 7;
                @include gridAlign(center);
                display: flex;
                justify-content: space-around;
                img {
                    @include size(30px, 30px);
                    &.disabled { filter: grayscale(1); }
                }
            }
        }

    }
}
