@mixin button($size: 40px) {
    @include size($size);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: $size;
    font-size: 36px;
    color: white;
}
.emulator-screen {
    @include position(absolute, 0 0 0 0);
    margin: 0px;

    canvas {
        &::before, &::after {
            content: '';
            display: table;
            clear: both;
            width: 1px;
            margin-left: -1px;
        }
        &::before { float: left; padding-bottom: $render-aspect-ratio; }
        @include position(absolute, 0 0 0 0);
        margin: auto;
        background-color: #000;
        max-width: $render-width * $render-max-scale;
        max-height: $render-height * $render-max-scale;
        @media screen and (orientation: landscape) {
            height: 100%;
        }
        @media screen and (orientation: portrait) {
            width: 100%;
        }

    }

    .pause {
        @include position(absolute, 15 15 null null);
        @include button();
    }
    .save {
        @include position(absolute, 15 60 null null);
        @include button();
    }
    .quit {
        @include position(absolute, 15 null null 15);
        @include button();
    }
}
